<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header">
</head>
<body>
<header th:insert="fragments/header-bar">
</header>
<div class="container-fluid">
    <div class="row">
        <nav-bar th:replace="fragments/nav-bar"></nav-bar>
        <div class="spinner-grow" role="status" id="spinner-data">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div th:if="${templateProduct != null}">
            <main th:replace ="'product/' + ${templateProduct}" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            </main>
        </div>
        <supplier-modal th:replace="master-data/supplier-component.html"></supplier-modal>
        <location-modal th:replace="master-data/location-component.html"></location-modal>
        <category-modal th:replace="master-data/category-component.html"></category-modal>
        <manufacture-modal th:replace="master-data/manufacture-component.html"></manufacture-modal>
    </div>
</div>
</body>
</html>