<html xmlns:th="http://www.thymeleaf.org">
<div
        id="productDefinitionModal"
        class="modal fade bd-example-modal-lg"
        tabindex="-1"
        role="dialog"
        aria-labelledby="productDefinitionModal"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="modal-title" id="product-form-title">Product Definition Dashboard</h5>
                    <a class="mb-3 btn-floating waves-effect waves-light red"
                       data-bs-toggle="modal"
                       data-bs-target="#createEditProductDefinitionModal"><i class="material-icons">add</i></a>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table-product-definition th:replace="master-data/table/product-definition-table-component"></table-product-definition>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<create-edit-product-definition-modal th:replace="create-edit-product/create-edit-product-definition.html"></create-edit-product-definition-modal>
</html>