<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragments="table-product-definition">
    <div class="progress" style="height:0.25rem" id="spinner-pdef-data">
        <div class="indeterminate"></div>
    </div>
    <div>
      <table
        class="table bordered table-lg w-100"
        id="product-definition-table"
      ></table>
      <div class="row">
        <div class="d-flex justify-content-between">
          <span class="mt-3" id ="product-definition-entries-data"></span>
          <div class="d-flex w-50 mt-3 justify-content-center">
            <ul class="pagination mr-3" id="product-definition-pagination">
              <!-- <li class="disabled">
                <a href="#!"><i class="material-icons">chevron_left</i></a>
              </li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect">
                <a href="#!"><i class="material-icons">chevron_right</i></a>
              </li> -->
            </ul>
          </div>
          <form>
            <div class="input-field">
              <select class="icons" id="select-page-size">
              </select>
              <label>Page size</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/home/js/product-definition-table-component.js}"></script>
</html>
