<html xmlns:th="http://www.thymeleaf.org">
  <div
    id="createEditProductDefinitionModal"
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createEditProductDefinitionModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="product-form-title">Create Product Definition</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <form class="col s12">
                      <div class="row">
                          <div class="input-field col s12">
                              <input id="modelName" type="text" class="validate">
                              <label for="modelName">Model Name</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                              <input id="model" type="text" class="validate">
                              <label for="model">Model</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12 m3">
                              <select class="icons">
                                  <option selected="true" style="display: none"></option>
                                  <option value="" class="circle">Apple</option>
                                  <option value="" class="circle">LG</option>
                                  <option value="" class="circle">Samsung</option>
                              </select>
                              <label>Manufacture</label>
                          </div>
                          <div class="input-field col s12 m3">
                              <select class="icons">
                                  <option selected="true" style="display: none"></option>
                                  <option value="" class="left circle">Manchester</option>
                                  <option value="" class="left circle">Liverpool</option>
                                  <option value="" class="left circle">London</option>
                              </select>
                              <label>Location</label>
                          </div>
                          <div class="input-field col s12 m3">
                              <select class="icons">
                                  <option selected="true" style="display: none"></option>
                                  <option value="" class="circle">Tablet</option>
                                  <option value="" class="circle">Mobile</option>
                                  <option value="" class="circle">Monitor</option>
                              </select>
                              <label>Category</label>
                          </div>
                          <div class="input-field col s12 m3">
                              <select class="icons">
                                  <option selected="true" style="display: none"></option>
                                  <option value="" class="left circle">E0123</option>
                                  <option value="" class="left circle">A1230</option>
                                  <option value="" class="left circle">B5502</option>
                              </select>
                              <label>Supplier</label>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn white-text waves-effect waves-light blue" name="action">Submit
                  <i class="material-icons right">send</i>
              </button>
          </div>
      </div>
    </div>
  </div>
</html>
