<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragments ="update-product-definition-modal"
    id="updateProductDefinitionModal"
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="updateProductDefinitionModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="product-form-title">Update Product Definition</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <form class="col s12" id="update-product-definition-form">
                      <div class="row">
                          <div class="input-field col s12">
                              <input id="id" name ="id" type="hidden">
                              <input id="modelName" name ="modelName" type="text" class="validate">
                              <label for="modelName">Model Name</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12">
                              <input id="model" name ="model" type="text" class="validate">
                              <label for="model">Model</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12 m6">
                              <select class="icons" name ="manufactureId" id="pdef-update-manufacture-select">
                              </select>
                              <label>Manufacture</label>
                          </div>
                          <div class="input-field col s12 m6">
                              <select class="icons" name ="locationId" id="pdef-update-location-select">
                              </select>
                              <label>Location</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="input-field col s12 m6">
                              <select class="icons" name ="categoryId" id="pdef-update-category-select">
                              </select>
                              <label>Category</label>
                          </div>
                          <div class="input-field col s12 m6">
                              <select class="icons" name ="supplierId" id="pdef-update-supplier-select">
                              </select>
                              <label>Supplier</label>
                          </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12 m4">
                            <input id="color" name ="color" type="text" class="validate">
                            <label for="color">Color</label>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn white-text waves-effect waves-light blue" id="btn-update-product-definition">Update
                  <i class="material-icons right">send</i>
              </button>
          </div>
      </div>
    </div>
  </div>
</html>
