<html xmlns:th="http://www.thymeleaf.org">
<head th:fragments="header" >
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" th:src="@{/assets/js/jquery-3.7.0.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/datatables.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/dataTables.bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/dashboard.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/materialize.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery-confirm.js}"></script>

  <script th:src="@{/common/common.js}"></script>
  <script th:src="@{/home/js/create-edit.js}"></script>
  <script th:src="@{/home/js/table-component.js}"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/assets/styles/materialize.min.css}">
  <link rel="stylesheet" th:href="@{/assets/styles/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/styles/dataTables.bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/styles/dashboard.css}">
  <link rel="stylesheet" th:href="@{/assets/styles/jquery-confirm.css}">
  <link rel="stylesheet" th:href="@{/home/styles/home.css}">

</head>
</html>